<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop-Easy Product Details</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/1-col-portfolio.css" rel="stylesheet">



</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             <a class="navbar-brand" href="/frontpage">Menu</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/service">Services</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
 
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Shop-Easy
				</br>
                    <small>Best products with best deals</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        
          <!-- Project One -->
          
          </br>
          
        <div class="row">

            <div class="col-md-5">
                <h3>Add object into the database</h3>
                 </br>
                 </br>
                 
                                      <form action="/Addobject" method="post">

                                                <div class="form-group">
                                                    <!--<label for="Model_name">Model</label>-->
                                                    <input type="text" id="Model_name" class="form-control" placeholder="Model",name="model" />
                                                </div>
                                                <div class="form-group">
                                                    <!--<label for="YOM">Year of manufacturing</label>-->
                                                    <input type="text" id="YOM" class="form-control" placeholder="Year" name="yom" />
                                                </div>
                                               <div class="form-group">
                                                    <!--<label for="mileage">Mileage</label>-->
                                                    <input type="text" id="mileage" class="form-control" placeholder="Mileage" name="mileage" />
                                                </div>
                                                
                                                <div class="form-group">
                                                    <!--<label for="condition">Condition</label>-->
                                                    <input type="text" id="condition" class="form-control" placeholder="Condition" name="condition" />
                                                </div>
                                              <button type="submit" class="btn btn-primary">Send </button>
                                        </form>
                                    </div>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>
